<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src='/socket.io/socket.io.js'></script>
    <script type="text/javascript" src='/javascripts/game.min.js'></script>
  </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <p id="users_online"></p>
    <!--<div id="box" style="position: absolute; width: 20px; height: 20px; margin-left: -10px; margin-top: -10px; background-color: #333"></div>-->
  </body>
</html>
